.wc-parcelas form {
    position: relative;
}

.wc-parcelas .style label {
    margin-left: 15px;
}

.wc-parcelas .style .in_loop,
.wc-parcelas .style .in_single {
    padding: 0 10px;
}

.wc-parcelas .style .wrapper {
    margin-bottom: 30px;
}

.wc-parcelas .style * {
    vertical-align: middle;
}

.wc-parcelas .wp-color-result {
    margin: 0;
}

/* Tabs module */
.wc-parcelas form .section {
    display: none;
}

.wc-parcelas form .section.active {
    display: block;
}