.woocommerce-parcelas form{
	position: relative;
}
.woocommerce-parcelas form .tabs{
	position: relative;
	margin-top: 10px;
}
.woocommerce-parcelas form .tabs .section{
	padding-left: 0;
}
.woocommerce-parcelas form .tabs > h3{
	float: left;
	margin: 0;
	cursor: pointer;
	opacity: 0.7;
	padding: 5px 10px;
	background-color: #DDDDDD;
	border-bottom: 2px solid #DDDDDD;
	position: absolute;
	top: 0;
}
.tabs .section{
	padding-top: 30px;
}
.tabs h3 + .section + h3{
	left: 70px;
}
.tabs h3 + .section + h3 + .section + h3{
	left: 158px;
}
.woocommerce-parcelas form .tabs > h3.fs-active{
	opacity: 1;
	background-color: #bbbbbb;
	border-color: #000000;
}
.woocommerce-parcelas form h3 + .section{
	display: none;	
}
.woocommerce-parcelas form .tabs > h3.fs-active + .section{
	display: block;	
}
.woocommerce-parcelas .style label{
	margin-left: 15px;
}
.woocommerce-parcelas .style .in_loop,
.woocommerce-parcelas .style .in_single{
	padding: 0 10px;
}
.woocommerce-parcelas .style .wrapper{
	margin-bottom: 30px;
}
.woocommerce-parcelas .style *{
	vertical-align: middle;
}
.woocommerce-parcelas .wp-color-result{
	margin: 0;
}